.container {
    display: flex;
    flex: 1;
    height: 100%;
}

.left {
    width: 600px; /* 원하는 고정 너비 */
    flex: none;    /* 비율 계산에 끼지 않음 */
    padding: 10px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}
.right {
    flex: 1;
    padding: 10px;
    overflow: auto;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

.result-wrapper {
    position: relative;
    height: 100%;
}

/* 기본 JSON 결과 박스 */
.result-container {
    border: 1px solid #ccc;
    min-height: 100%;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.4;
    overflow: auto;
    transition: all 0.2s ease-in-out;
}

.result-container div {
    line-height: 1.4;      /* 모든 줄의 텍스트 높이 동일화 */
    height: 100%;      /* 기본 최소 높이로 균일하게 */
    box-sizing: border-box;
    margin-bottom: 5px;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
}

.result-wrapper:hover .copy-btn {
    display: block;
}

.json-key { color: #004080; }
.json-string { color: green; }
.json-arr-symbol { color: brown; }
.json-symbol { color: cadetblue }
.json-number { color: darkorange; }
.json-boolean { color: blueviolet; }
.json-null { color: gray; font-style: italic; }

.xml-tag     { color: #004080; }
.xml-attr    { color: #800080; }
.xml-attrval { color: #008000; }
.xml-text    { color: #000000; }

.xml-symbol { color: cadetblue }
.xml-toggle { cursor: pointer; }
.xml-prefix { color: #800080; }
.xml-localName { color: #004080; }
.xml-attrName { color: darkorange; }
.xml-attrValue { color: blueviolet; }
.xml-textContent { color: green; }

.error { color: red; font-weight: bold; }