.container {
    display: flex;
    flex: 1;
    height: 100%;
}

.left {
    width: 600px;
    flex: none;
    padding: 10px;
    border-right: 1px solid #444;
    box-sizing: border-box;
    background-color: #2a2a2a;
    color: #ccc;

    transition: all 0.3s ease;
    opacity: 1;
    transform: translateX(0);
}

.left.hidden-slide-left {
    opacity: 0;
    transform: translateX(-50px);
    width: 0 !important;
    padding: 0 !important;
    pointer-events: none;
}

.middle {
    width: 15px;
    display: flex;
    margin-top: 50vh;
}

.hide-btn {
    width: 15px;
    height: 80px;
    background-color: #444;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s ease;
}

.hide-btn:hover {
    background-color: #666;
}

.right {
    flex: 1;
    padding: 10px;
    overflow: auto;
    box-sizing: border-box;
    background-color: #252525;
    color: #ddd;
}

.result-wrapper {
    position: relative;
    height: 100%;
}

/* 파라미터 박스 */
.outer-box {
    background-color: #222222;
    border: 1px solid #1e1e1e;
    border-radius: 4px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.middle-box {
    display: none;
    background-color: #2a2a2a;
    border-radius: 6px;
    padding: 5px;
    box-shadow:
            0 8px 20px rgba(0, 0, 0, 0.8),
            0 0 0 1px rgba(255, 255, 255, 0.05);
    margin-top: 20px;
    margin-bottom: 10px;
}
.table-box {
    border:1px solid #ccc;
    padding:10px;
    margin-bottom: 20px;
}
.inner-box {
    background-color: #333333;
    border: 1px solid #444444;
    border-radius: 8px;
    margin: 10px;
    padding: 5px;
}
.section-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.section-header .btn {
    position: absolute;
    right: 0;
}
.section-header span {
    cursor: pointer;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.section-header span::after {
    content: '▶';
    font-size: 0.7em;
    line-height: 1;
    transform: translateY(-1px);
    transition: transform 0.2s ease;
}
.section-header span.open::after {
    transform: rotate(90deg) translateY(-1px);
}
.box-title {
    margin-bottom: 10px;
    padding: 5px;
}
.paramType {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 36px;
    font-size: 10px;
    padding: 6px 10px;
    color: #aaaa;
    background-color: #222;
    border: 1px solid #1e1e1e;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}
/* 파라미터 박스 끝 */

/* 기본 JSON 결과 박스 */
.result-container {
    border: 1px solid #444;
    min-height: 100%;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.4;
    overflow: auto;
    transition: all 0.2s ease-in-out;
    background-color: #252525;
    color: #e0e0e0;
}

.result-container div {
    line-height: 1.4;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 14px;
}

.result-wrapper:hover .copy-btn {
    display: block;
}

.json-key { color: #80bfff; }
.json-string { color: #a0d6b4; }
.json-arr-symbol { color: #b66b00; }
.json-symbol { color: #5f9ea0; }
.json-number { color: #ffb74d; }
.json-boolean { color: #c792ea; }
.json-null { color: #888; font-style: italic; }

.xml-tag     { color: #80bfff; }
.xml-attr    { color: #c792ea; }
.xml-attrval { color: #a0d6b4; }
.xml-text    { color: #ddd; }

.xml-symbol { color: #5f9ea0; }
.xml-toggle { cursor: pointer; }
.xml-prefix { color: #c792ea; }
.xml-localName { color: #80bfff; }
.xml-attrName { color: #ffb74d; }
.xml-attrValue { color: #c792ea; }
.xml-textContent { color: #a0d6b4; }

.error { color: #ff6666; font-weight: bold; }